<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magu1436.chronolist.timeblocking.mapper.TimeTableMapper">

    <!-- TimeTableとTimeBlockの1対多の関係 -->
    <resultMap id="TimeTableResult"
        type="com.magu1436.chronolist.timeblocking.entity.TimeTable">
        <id property="id" column="table_id" />
        <result property="date" column="date" />
        <collection property="timeBlocks" resultMap="TimeBlockResult" />
    </resultMap>

    <resultMap id="TimeBlockResult"
        type="com.magu1436.chronolist.timeblocking.entity.TimeBlock">
        <id property="id" column="block_id" />
        <result property="timeTableId" column="block_table_id" />
        <result property="title" column="block_title" />
        <result property="status" column="status" />
        <association property="relatedSchedule" javaType="com.magu1436.chronolist.scheduler.entity.Schedule">
            <id property="id" column="schedule_id" />
            <result property="kind" column="kind" />
            <result property="startAt" column="start_at" />
            <result property="endAt" column="end_at" />
            <result property="startDate" column="start_date" />
            <result property="endDate" column="end_date" />
            <result property="title" column="schedule_title" />
        </association>
        <result property="width" column="width" />
        <result property="startAt" column="start_at" />
        <!-- tasksは間違っている可能性あり -->
        <collection property="tasks" ofType="string" column="task_title" />
        <result property="color" column="color" />
    </resultMap>

    <select id="getTimeTableByDate" resultMap="TimeTableResult">
        SELECT
            table.id AS table_id, table.date,
            block.id AS block_id, block.table_id AS block_table_id, block.title AS block_title, block.status, block.width, block.start_at, block.color,
            task.title AS task_title,
            schedule.id AS schedule_id, schedule.kind, schedule.start_at, schedule.end_at, schedule.start_date, schedule.end_date, schedule.title AS schedule_title
        FROM time_tables table
        LEFT JOIN time_blocks block ON table.id = block.table_id
        LEFT JOIN time_block_tasks task ON block.id = task.time_block_id
        LEFT JOIN schedule schedule ON block.schedule_id = schedule.id
        WHERE table.date = #{date}
    </select>

    <insert id="insertTimeTable" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO time_tables (date)
        VALUES
        (#{date})
    </insert>

    <update id="updateTimeTable">
        UPDATE time_tables SET date = #{date}
        WHERE id = #{id}
    </update>

    <delete id="deleteTimeTable" parameterType="int">
        DELETE FROM time_tables WHERE id = #{id}
    </delete>
</mapper>