<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.magu1436.chronolist.timeblocking.mapper.TimeBlockTaskMapper">
    <insert id="insertTimeBlockTask" useGeneratedKeys="true" keyProperty="id" parameterType="com.magu1436.chronolist.timeblocking.entity.TimeBlockTask">
        INSERT INTO time_block_tasks (time_block_id, title)
        VALUES
        (#{timeBlockId}, #{title})
    </insert>

    <delete id="deleteTimeBlockTask" parameterType="int">
        DELETE FROM time_block_tasks WHERE id = #{id}
    </delete>
</mapper>